* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* === UTILITY CLASSES === */
.p-general {padding: 0 9rem;}
.text-center {text-align: center;}
.btn-rad {border-radius: 20px;}
.p-xy {padding: 1rem;}
.p-y {padding: 0.5rem 0;}
.p-0 {padding: 0;}
.marg-top {margin-top: 1rem;}
.half-width {width: 50%;}
.half-height {height: 50%;}
.btn-pri {
    text-decoration: none;
    color: white;
    background: var(--primary-clr);
    padding: .5rem;
    display: inline-block;
}
.btn-sec {
    text-decoration: none;
    color: white;
    background: var(--secondary-clr);
    padding: .5rem;
    display: inline-block;
}
.btn-tet {
    text-decoration: none;
    color: white;
    background: var(--tetiary-clr);
    padding: .5rem;
    display: inline-block;
}


/* === VARIABLES === */
:root {
    --primary-clr: red;
    --secondary-clr: rgb(238, 162, 22);
    --tetiary-clr: rgb(112, 58, 112);
}

/* FONT AWESOME STYLING */

.fa {
    padding: .5rem;
    font-size: 2rem;
    width: 2rem;
    text-align: center;
    text-decoration: none;
    background: rgb(80, 78, 78);
    color: white;
    border-radius: 50%;
}

/* NAV BAR */

nav {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    position: sticky;
    top: 0;
    background-color: #fff;
    /* border: 1px solid black; */
}

.logo, .fa, .nav-buttons {
    /* border: 1px solid black; */
    margin: .5rem 0;
}

.logo {
   width: 9rem;
   height: 2rem;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
}

.nav-btn  {
    text-decoration: none;
    color: black;
}

.nav-btn:hover {
    background-color: var(--primary-clr);
    color: #fff;
}

.nav-buttons a {
    display: inline-block;
    padding:  .5rem;  
}

/* JUMBOTRON */

.jumbotron {
    min-height: 400px;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(../images/featured.jpg)no-repeat center center/cover;
    display: flex;
    align-items: center;
}

.jumbo-content {
    width: 50%;
    min-height: 250px;
    
    padding-top: 1rem;
    color: #fff;
}

.jumbo-content h2 {
padding-bottom: 1rem;
padding-top: .5rem;
}

.btn-sports {
    border-radius: 20px;
}

.btn-sports:hover {
  background-color: rgb(192, 129, 12) ; 
  transform: scale(1.1); 
}

.btn-read-more {
    margin-top: .5rem;
}

.btn-read-more:hover {
    background-color: rgb(163, 14, 14) ; 
    transform: scale(1.1); 
  }

/* ARTICLES SECTION */

.article-container {
    display: grid;
    grid-template-areas: 
    "art-head art-head art-head"
    "article1 article1 article2"
    "article3 article4 article5"
    "article6 article7 article7"
    ;
    grid-gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: rgb(209, 204, 204);

}

.article-heading {
    grid-area: art-head;
}

.article-item {
    background-color: #fff;
}

.article-item1 {
    grid-area: article1;
    min-height: 11.5rem;
    display: flex;
}
.article-item2 {
    grid-area: article2;
    min-height: 11.5rem;
    background-color: rgb(80, 78, 78);
    color: #fff;
}
.article-item3 {
    grid-area: article3;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.article-item4 {
    grid-area: article4;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.article-item5 {
    grid-area: article5;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.article-item6 {
    grid-area: article6;
    min-height: 11.5rem;
    background-color: rgb(65, 15, 15);
    color: white;
}
.article-item7 {
    grid-area: article7;
    min-height: 11.5rem;
    display: flex;
}


.art-1-img {
    display: block;
    width: 100%;
    height: 14rem;
    margin-bottom: 0;
    
}

.btn-ent:hover {
    transform: scale(1.1);
    background-color: rgb(77, 41, 77);
}

.btn-sports {
    display: inline-block;
}

.art3-pic-bx {
    height: 100%;
}

.art3-pic-bx>img {
    height: 100%;
    width: 100%;
}

.art3-txt-bx {
    height: 100%;
}

.art4-pic-bx>img {
    height: 100%;
    width: 100%;
}

.art4-txt-bx {
    height: 100%;
}

.btn-tech {
    text-decoration: none;
    background-color: rgb(27, 132, 173);
    padding: .5rem;
    color: white;
    display: inline-block;
    margin-top: .5rem;
}

.btn-tech:hover {
    transform: scale(1.1);
    background-color: rgb(23, 88, 114) ;
}

/* ==== FOOTER ==== */
footer {
    min-height: 28rem;
    background-color: black ;

}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
    height: 100%;
    padding-top: 3rem;
    color: #fff;
    grid-gap: 1.5rem;
}




.footer-item5 {
    grid-column: 1/span 4;
    max-height: 30%;
    text-align: center;
    /* padding-top: 1.6rem; */
    background-color:rgb(80, 78, 78) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item5 p {
    min-height: 40%;
    min-width: 80%;
}

input[type="mail"] {
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
}

input[type="mail"]:focus {
    outline: none;
}

input[value="Subscribe"] {
    width: 100%;
    height: 2rem;
    margin-top: .5rem;
    border: none;
    color: #fff;
    background-color: rgb(163, 14, 14);
}

input[value="Subscribe"]:hover {
    background-color: rgb(109, 10, 10); 
    cursor: pointer;
}

input[value="Join Now"] {
    width: 70%;
    height: 2rem;
    margin-top: .5rem;
    border: none;
    color: #fff;
    background-color: rgb(192, 129, 12) ;
}

input[value="Join Now"]:hover {
    background-color: rgb(148, 100, 10);
    cursor: pointer;
}

.footer-item3 li {
    list-style: none;
}


